section{
		min-height: 220px;
		border:2px solid;
		padding-left: 100px;
	}
	#banner{
		background-color: lightgoldenrodyellow;
		margin-bottom: 10px;
	}
	#section2{
		background-color: paleturquoise;
		margin-bottom:10px ;
	}
	#section3{
		background-color:lightsteelblue ;
		margin-bottom: 8px;
	}
	.link{
		text-decoration: none;
		margin:18px;
	}
	footer{
		text-align: center;
		font-size: 20px;
	}
	nav{
		text-align: center;
		background-color: peachpuff;
	}
	header{
		text-align: center;
		font-size: 25px;
	}